<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'word_counter_app/css/style.css'%}">
</head>
<body>
    <h1>{{string}}</h1>
    <p>{{request.session.counter}}</p>
    <form action="/random_word" formmethod="POST">
        {% csrf_token %}
        <input type='submit' name='counter' value="counter" >
    </form>
</body>
</html>